body {
    /* background-image: url("image/bg.jpg");
   /* -webkit-background-size: center center; main thing remember */
    /* -webkit-background-size: cover; */
    /* background-size: cover; 
    background-position: center;
     background-position: center center;
    background-repeat: no-repeat;
     height: 100vh;  */
    /* font-family: poppines;
  font-weight: 600;
  font-size: 16px;
  color: white */
    margin: 0;
    padding: 0;
}

.bg {

    height: 46em;
    width: 100%;
    /* padding: 0; */
    /* opacity: 0.3; */

}


p {
    display: inline;
}

.bg2 {
    position: absolute;
    left: 200px;
    margin: 250px auto;
    border: 5px solid white;
    padding: 20px 20px;
}

.heading {
    position: absolute;
    float: right;
    right: 100px;
    top: 300px;
    color: white;
    width: 30%;
}

.titile {
    font-size: 50px;
    color: #AEDBCE;
    margin: 50px auto;
}

.tile-para {
    line-height: 2;
    clear: left;
}

.nav {
    position: relative;
}

.nav ul {
    float: right;
    display: inline-block;
    position: absolute;
    right: 20px;
    margin: 50px;
   

}

.nav ul li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 50px 30px;

}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

.container {
    text-align: center;
    position: relative;
    margin-top: 100px;
    margin: auto;
    display: flex;
    background-color: #EDE6DB;
    padding: 50px 0 20px;

}

.html-container {
    height: 500px;
    width: 300px;
    background-color: #EE5007;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 1px;



}

.css-container {
    height: 500px;
    width: 300px;
    background-color: #006E7F;
    margin: auto;
    margin: 0;
    margin: 100px 0;
}

.javascript-container {
    height: 500px;
    width: 300px;
    background-color: #1A3C40;
    margin: auto;
    margin-left: 1px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.footer-link{
    font-size: 1.75rem;
    margin: 10px 10px;
}

.copywrite{
    margin: 30px 30px;
    margin: auto;
    padding: 0 30px;
    font-size: 20px;
    margin: 20px;
}
.bottom-container {

    background-color: #66bfbf;
    text-align: center;
    font-size: 20px;
    padding: 20px 0 20px;

}

.btn {
    background: #031e30;
    background-image: -webkit-linear-gradient(top, #031e30, #2980b9);
    background-image: -moz-linear-gradient(top, #031e30, #2980b9);
    background-image: -ms-linear-gradient(top, #031e30, #2980b9);
    background-image: -o-linear-gradient(top, #031e30, #2980b9);
    background-image: linear-gradient(to bottom, #031e30, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .btn:hover {
    background: #ebeb2a;
    background-image: -webkit-linear-gradient(top, #ebeb2a, #3498db);
    background-image: -moz-linear-gradient(top, #ebeb2a, #3498db);
    background-image: -ms-linear-gradient(top, #ebeb2a, #3498db);
    background-image: -o-linear-gradient(top, #ebeb2a, #3498db);
    background-image: linear-gradient(to bottom, #ebeb2a, #3498db);
    text-decoration: none;
  }

.h2{

  
    margin: 50px;
    padding: 8px 20px;
    color: #ebeb2a;
}
.p2{
    display: inline-block;
    margin: 20px;
    color: antiquewhite;
  }


 .h1{
    padding: 60px 20px;
    color: #ebeb2a;
   
  }

  .p1{
    display: inline-block;
    color: antiquewhite;
  }


  @media(max-width : 950px){
    .nav ul{
     top: 80px;
    left: 300px;
    }

   
  }

  @media(max-width : 1200px){
        .tile-para {
           display: none;

        }
    

  }
  @media(max-width : 798px){
     .heading{
        width: 100%;
        left: 0;
        text-align: center;
        font-size: 30px;
     }
    } 

    @media(max-width : 950px){
        .bg2{
          display: none;
       }
       .heading{
        left: 300px;
        width: auto;
        left: 200px;
        /* width: 100%; */
        text-align: center;
       }

       .container{
        display: inline-block;
        margin-left: 300px;
        margin-right: 300px;
       }
       
       .nav ul{
        left: 100px;
       }

       .html-container{
        margin: auto;
       }
       .css-container{
           margin: auto;
       }
       .javascript-container {
        
        margin: auto;
    }
    }

     
   

    @media(max-width : 950px){
        .container{
        
       }
    }

    @media(max-width : 910px){
       .container{
        display: inline;
           margin: 0 200px 0 200px ;
           padding: 0;
       }
    
    }

    @media(max-width:750px){
        .nav ul{
            margin: 0;
            padding: 0;
        }

    }

    @media(max-width:500px){
        .nav ul{
           padding: 30px 10px;
            margin: 30px 30px 30px 30px;
            line-height: 2;
            left: 50px;
            margin-right: 0;
        }
        .nav .tile-para{
            margin: 0;
            left: 10px;
        }
        a{
            padding: 0px 10px;
         
           }

    }
    @media(max-width:600px){
       
        .nav .tile-para{
            margin: 0;
            left: 60px;
        }

        .heading{
            left: 70px;
        }
        a{
            padding: 0px 10px;
           
           }
    }

    @media(max-width:500px){
       
       a{
        padding: 0px 10px;
        color: #66bfbf;
       }
    }


   